.dice {
    padding: 4px;
    background-color: tomato;
    width: 104px;
    height: 104px;
    border-radius: 10%;
}

.dot {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
}

.first-face {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-face {
    display: flex;
    justify-content: space-between;
}

.third-face .dot:nth-of-type(1) {
    align-self :flex-end;

}
.third-face .dot:nth-of-type(2) {
    align-self :center;
}

.fourth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
